<div class="main-box">
    <div class="small-info">
        <div class="small-description">
            <h1>{{"hi-gilcllys" |translate}}</h1>
            <p>{{"small-intro" |translate}}</p>
        </div>
        <div class="link-butons">
            <button class="contact-button" type="button">
                {{"contact-me" |translate}}
            </button>
            <a href="https://github.com/gilcllys" target="_blank">
                <fa-icon class="icon" [icon]="['fab', 'github']" size="2x">
                </fa-icon>
            </a>
            <a href="https://medium.com/@gilcllyscosta" target="_blank">
                <fa-icon class="icon" [icon]="['fab', 'medium']" size="2x"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/gilcllyscosta/" target="_blank">
                <fa-icon class="icon" [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
            </a>
        </div>
    </div>
    <img src="../../assets/images/IMG_20231129_144659004.jpg">
</div>