.main-box {
    border-bottom: 1px solid rgb(34, 34, 34);
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 80%;
        height: 400px;

        h1 {
            font-size: 101px;
            margin: 0;
        }

        .info-details {
            width: 50%;
            height: 100%;
            text-align: justify;

            a {
                font-size: 18px;
                text-decoration: none;
                color: rgb(211, 233, 122);
                border-bottom: 2px solid rgb(211, 233, 122);

            }

            a:hover {
                text-shadow:
                    0 0 5px rgb(211, 233, 122),
                    0 0 10px rgb(211, 233, 122),
                    0 0 20px rgb(211, 233, 122),
                    0 0 30px rgb(211, 233, 122),
                    0 0 40px rgb(211, 233, 122),
                    0 0 50px rgb(211, 233, 122),
                    0 0 60px rgb(211, 233, 122);
            }
        }
    }
}