.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border: 1px solid yellow;
    width: 80%;

  }

  .left-box {
    padding: 0;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h1 {
    margin: 0;
    font-size: 71px;
  }

  .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      margin-right: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 400px;

    label {
      font-family: "Manrope", sans-serif;
      font-size: 20px;
      color: rgb(199,199,199);
    }
    input {
      height: 51px;
    }
    textarea,input {
      background-color: rgb(26,26,26);
      border-style: none;
      border-radius: 4px;
      color: white;
    }

    .field {
      display: flex;
      flex-direction: column;
    }

  }
}
