<div class="main-box">
    <div class="content">
        <div class="left-box">
            <h1>{{'lets-connect' | translate}}</h1>
            <p>{{'say-hello'}}</p> <a href="#">{{'gilcllyscosta@gmail.com'}}</a>
            <p>{{'for-more-info'}}</p><a href="#">{{'resume' |translate}}</a>
            <div class="icons">
                <a href="https://github.com/gilcllys" target="_blank">
                    <fa-icon class="icon" [icon]="['fab', 'github']" size="2x">
                    </fa-icon>
                </a>
                <a href="https://medium.com/@gilcllyscosta" target="_blank">
                    <fa-icon class="icon" [icon]="['fab', 'medium']" size="2x"></fa-icon>
                </a>
                <a href="https://www.linkedin.com/in/gilcllyscosta/" target="_blank">
                    <fa-icon class="icon" [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
                </a>
            </div>
        </div>
        <div class="rigth-box"></div>
    </div>
</div>