header {
    height: 96px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .general-buttons {
        display: flex;
        justify-content: space-evenly;
        width: 430px;

        .buttons-header {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            border: none;
            background: none;
            color: white;
        }

        .buttons-header:hover {
            border-bottom: 1px solid white;
        }

        select {
            background: none;
            color: white;
            border: none;
        }
    }

}