<div class="main-box">
    <div class="left-box">
        <p>{{project.tag | translate}}</p>
        <img src="../../../assets/images/no-project-image.jpg">
    </div>
    <div class="right-box">
        <p class="title">{{project.ProjectTitle | translate}}</p>
        <!-- Essa merda da descrição nao quer traduzirrrr ajhhh depois tenho que ver isso, agora vou dormir-->
        <p class="descriptionProject">{{project.description | translate}}</p>
        <p class="separator">{{"project-info" | translate}}</p>
        <div class="year">
            <p>{{"year" | translate}}</p>
            <p class="content-info">{{project.year}}</p>
        </div>
        <div class="role">
            <p>{{"role" | translate}}</p>
            <p class="content-info">{{project.role | translate}}</p>
        </div>
        <div class="links">
            <div class="icons">
                <a href="#">{{"view-project" | translate}}</a>
                <fa-icon class="icon" [icon]="['fas', 'up-right-from-square']" animation="beat">
                </fa-icon>
            </div>
            <div class="icons">
                <a href="#">{{"see-on-github" | translate}}</a>
                <fa-icon class="icon" [icon]="['fab', 'github']" animation="beat">
                </fa-icon>
            </div>
        </div>
    </div>
</div>