.main-box {
    display: flex;
    justify-content: center;
    align-items: center;


    .content {
        width: 80%;
        display: flex;
        flex-direction: column;

        .main-title-projects {
            width: 90%;
            display: flex;
            flex-direction: column;

            h1 {
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 70px;
            }

            p {
                position: relative;
                bottom: 50px;
            }
        }
    }



    // .projects-box {
    //     border: 5px solid pink;
    // }
}